[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[requires]
python_version = "3.7"

[packages]
ndh = "*"
django = "<2.2"

[dev-packages]
ipython = "*"
pygments-zenburn = "*"
