{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<form action="" method="post" class="form-horizontal">
  {% csrf_token %}
  {% bootstrap_form form layout="horizontal" %}
  {% buttons layout="horizontal" %}
  <button type="submit" class="btn btn-primary">Je m’inscris !</button>
  {% endbuttons %}
</form>
{% endblock %}

{% block scripts %}
$("label[for='id_buffet']:first").html("Inscription au buffet");
$("label[for='id_buffet']:last").html('<input class="" id="id_buffet" name="buffet" type="checkbox" />');
{% endblock %}

