{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<!--<p><strong>Date limite d’inscription: 10 mai</strong></p>-->
<form action="" method="post" class="form-horizontal" role="form">
  {% csrf_token %}
  {% bootstrap_form form layout="horizontal" %}
  {% buttons layout="horizontal" %}
  <button type="submit" class="btn btn-primary">Je m’inscris</button>
  {% endbuttons %}
</form>
{% endblock %}

{% block scripts %}
$("label[for='id_buffet']:first").html("Inscription au buffet");
$("label[for='id_buffet']:last").html("");
{% endblock %}
