{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

{% if validlink %}

<h1>Nouveau mot de passe</h1>

<form action="" method="post" class="form-horizontal">
  {% csrf_token %}
  {% bootstrap_form form layout="horizontal" %}
  {% buttons layout="horizontal" %}
  <button type="submit" class="btn btn-primary">Changer votre mot de passe</button>
  {% endbuttons %}
</form>

{% else %}

<h1>Échec.</h1>

<p>Ce lien est invalide, probablement parce qu’il a déjà été utilisé. Essayez encore, ou contacter l’administrateur</p>

{% endif %}

{% endblock %}
