{% load static bootstrap4 %}
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rhétorique Robotique</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
.heph {
  background-image: url("{% static 'hephaestus.png' %}");
  background-color: rgba(255,255,255,0.5);
  background-repeat: no-repeat;
  background-position: 100% 0 ;
  background-blend-mode: lighten;
}
.logos { text-align: justify; }
.logos img { height: 50px; display: inline-block;}
.logos:after{content:""; display: inline-block; width: 100%; height: 0;}
    </style>
  </head>
  <body>

    {% block header_navbar %}
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">Rhétorique Robotique</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item {% if 'inscription'  in request.path %}active{% endif %}"><a class="nav-link" href="{% url 'inscription'  %}">Inscription</a></li>
              <li class="nav-item {% if 'presentation' in request.path %}active{% endif %}"><a class="nav-link" href="{% url 'presentation' %}">Présentation</a></li>
              <li class="nav-item {% if 'programme'    in request.path %}active{% endif %}"><a class="nav-link" href="{% url 'programme'    %}">Programme</a></li>
            </ul>
          </div>

        </nav>
      </header>
      {% endblock %}

      <div class="container heph">
        <h1>Rhétorique et Robotique</h1>
        <h3>Séminaire commun GRAL (ULB) - LAAS-CNRS</h3>
        <p>15 juin 2018, Salle Tourmalet, 11h00-16h30, LAAS-CNRS, Toulouse</p>
        {% bootstrap_messages %}
        <h4>Parler de robotique. Exercices de rhétorique adaptés à un enjeu citoyen. </h4>

        {% if 'inscription' in request.path %}
        <h2><a href="{% url 'presentation'  %}">Présentation</a></h2>
        <h2><a href="{% url 'programme'    %}">Programme de la journée</a></h2>
        <h2>Inscription</h2>
        {% elif 'presentation' in request.path %}
        <h2><a href="{% url 'inscription'  %}">Inscription</a></h2>
        <h2><a href="{% url 'programme'    %}">Programme de la journée</a></h2>
        <h2>Présentation</h2>
        {% elif 'programme'   in request.path %}
        <h2><a href="{% url 'inscription'  %}">Inscription</a></h2>
        <h2><a href="{% url 'presentation' %}">Présentation           </a></h2>
        <h2>Programme de la journée</h2>
        {% endif %}

        {% block content %}{% endblock %}
      </div>

      <!--<p class="text-center"><strong>contact: edanblon@ulb.ac.be</strong></p>-->
      <hr>
      <div class="container">
        <div class="logos">
          <img src="{% static '5.jpg' %}" />
          <img src="{% static '4.png' %}" />
          <img src="{% static '2.png' %}" />
          <img src="{% static '6.jpg' %}" />
          <img src="{% static '1.jpg' %}" />
          <img src="{% static '3.png' %}" />
        </div>
      </div>
      <hr>


      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script>{% block scripts %}{% endblock %}</script>
  </body>
</html>
