{% extends "base.html" %}

{% block content %}
<p>
La diffusion des avancées de la robotique vers le public est aujourd'hui une nécessité.<br>
Pour autant, elle n'est pas chose simple. Entre les peurs et les fantasmes, les récupérations de grandes audiences par
des gourous, le rôle parfois ambivalent des médias. Le chercheur a la responsabilité de dire ce qu'il en est le plus
honnêtement possible. Mais il n'est pas toujours préparé à cet exercice.
</p><p>
Aristote disait de la rhétorique qu'elle est l'art de trouver dans chaque cas ce qui est propre à persuader. Autrement
dit, il n'y a pas de recette toute faite mais un art qui s'adapte aux problématiques spécifiques et à leurs enjeux
propres. C'est à la découverte de cet art adaptée aux questions de robotique que l'équipe de rhétorique de Bruxelles
consacrera le séminaire du 15 juin prochain.
</p>

{% endblock %}
