{% extends "base.html" %}

{% block content %}

<p>La matinée sera consacrée à une introduction générale aux outils de la rhétorique et à l'intérêt qu'ils présentent
pour les roboticiens. L'après-midi sera consacrée à leur mise en pratique. Des groupes seront formés qui travailleront
ensemble à une problématique choisie par eux. On y apprend à résoudre des dilemmes et des tensions en en s’emparant de
stratégies rhétoriques adaptées aux enjeux éthiques et politiques de la robotique.</p>

{% endblock %}
