{% extends "base.html" %}

{% block content %}
<h2>Programme de la journée</h2>

<dl class="dl-horizontal">
  <dt>08:45</dt><dd>Accueil</dd>
  <dt>09:10</dt><dd>Mot de bienvenue par Emmanuelle DANBLON (ULB)</dd>
  <dt>09:15</dt><dd>Jean-Paul LAUMOND (CNRS LAAS)<br> Robotique de l’action</dd>
  <dt>10:00</dt><dd>Emmanuelle DANBLON (ULB GRAL)<br> De l’effabilité des actions du robot. Quelles conséquences sur nos représentations ?</dd>
  <dt>10:45</dt><dd>Pause</dd>
  <dt>11:00</dt><dd>Malik GHALLAB (CNRS LAAS)<br> La rupture du numérique dans l’autonomie des machines face à la diversité</dd>
  <dt>11:45</dt><dd>Marc DOMINICY (ULB)<br> Métaphores et symboles: un essai de classification, et ses conséquences pour le langage de la robotique</dd>
  <dt>12:30</dt><dd>Déjeuner - Buffet sur place</dd>
  <dt>13:30</dt><dd>Alain BERTHOZ (Collège de France)<br> Les rapports entre intelligence naturelle et intelligence artificielle en robotique</dd>
  <dt>14:15</dt><dd>Michel TIBON-CORNILLOT (EHESS)<br>La radicalisation du fétichisme. La vie mouvante en elle-même de ce qui est mort</dd>
  <dt>15:00</dt><dd>Pascal CHABOT (IHECS, Bruxelles)<br> Prosopopée de l’intelligence</dd>
  <dt>15:45</dt><dd>Pause</dd>
  <dt>16:00</dt><dd>Table Ronde</dd>
  <dt>17:30</dt><dd>Fin</dd>
</dl>

{% endblock %}
